<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Dodaj użytkownika</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <form action="/addnewuser" method="post">
        <!-- REGISTRATION FORM -->
        <div class="container">
            <div class="logo"><h3>Rejestracja</h3></div>
            <!-- Main Form -->
            <div class="login-form-1">
                <form id="register-form" th:object="${newuser}" class="text-left">
                    <div class="login-form-main-message"></div>
                    <div class="main-login-form">
                        <div class="login-group">
                            <div class="form-group">
                                <label for="reg_login" class="sr-only">Login</label>
                                <input type="text" class="form-control" id="reg_login" name="login" th:field="*{login}" placeholder="Login" required>
                            </div>
                            <div class="form-group">
                                <label for="reg_username" class="sr-only">Email address</label>
                                <input type="email" class="form-control" id="reg_username" name="username" th:field="*{email}" placeholder="email" required>
                            </div>
                            <div class="form-group">
                                <label for="reg_password" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="reg_password" name="password" pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.passwordConfirm.pattern = this.value;" th:field="*{password}" placeholder="password" required>
                            </div>
                            <div class="form-group">
                                <label for="reg_password_two" class="sr-only">Password</label>
                                <input type="password" class="form-control" id="reg_password_two" name="passwordConfirm"  pattern="^\S{6,}$" onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');" placeholder="Confirm Password" required>
                            </div>
                            <div class="form-group">
                                <label for="reg_name" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="reg_name" name="name" placeholder="name" required>
                            </div>
                            <div class="form-group">
                                <label for="reg_surname" class="sr-only">Surname</label>
                                <input type="text" class="form-control" id="reg_surname" name="surname" placeholder="surname" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-warning">Zarejestruj</button>
                    </div>

                </form>
            </div>
            <!-- end:Main Form -->
        </div>

    </form>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>