<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodano naprawę</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <div class="alert alert-success" role="alert">
        Dodano naprawę do bazy danych
    </div>
    <a href="repairs"><button type="button" class="btn btn-primary">Naprawy</button> </a>
    <a href="main"><button type="button" class="btn btn-info">Strona główna</button> </a>
    <a href="buses"><button type="button" class="btn btn-secondary">Busy</button> </a>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>