<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edytuj wycieczke strona druga</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <form th:action="@{/edittripsecondpage}" th:object="${buses}" method="post">
        <h4>Zaznacz busa/y którego wybierasz na wycieczkę:</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Ilość miejsc</th>
                <th scope="col">Data przeglądu</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bus : ${buses}">
                <td th:text="${bus.id}"></td>
                <td th:text="${bus.name}"></td>
                <td th:text="${bus.numberOfSeats}"></td>
                <td th:text="${bus.dateOfInspection}"></td>
                <td><input class="form-checked-input" type="checkbox" th:checked="${bus.isChecked} ? 'checked'" name="busIds" th:value="${bus.id}"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-success">Dalej</button>
        <a href="/main"><button type="button" class="btn btn-info">Strona główna</button></a>
        <a href="/edittrip"><button type="button" class="btn btn-primary">Wstecz</button></a>

    </form>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>