<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Brak busów</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <form action="/emptybuses" method="post">
        <div class="alert alert-primary" role="alert">
            Baza autobusów jest pusta
        </div>
        <button class="btn btn-primary" type="submit">Dodaj busa</button>
    </form>
    <a href="/main"><button type = "button" class="btn btn-info">Strona główna</button> </a>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>