<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Filtry</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <form action="/filters" method="post">
        <button type="submit" class="btn btn-primary" style="width: 225px" name="action" value="AVAILABLE_BUS_BY_DATE">Dostępne busy wg daty</button><br>
        <button type="submit" class="btn btn-success" style="width: 225px" name="action" value="AVAILABLE_DRIVER_BY_DATE">Dostępni kierowcy wg daty</button><br>
        <button type="submit" class="btn btn-danger" style="width: 225px" name="action" value="BUS_BY_NUMBER_OF_SEATS">Busy wg ilości miejsc</button><br>
        <button type="submit" class="btn btn-secondary" style="width: 225px" name="action" value="TRIPS_BY_DATE">Wycieczki wg daty</button><br>
        <button type="submit" class="btn btn-warning" style="width: 225px" name="action" value="TRIPS_BY_NAME">Wycieczki wg zamawiającego</button><br>
        <button type="submit" class="btn btn-dark" style="width: 225px" name="action" value="CHANGE_BY_USER">Zmiany wg użytkownika</button><br>
        <button type="submit" class="btn btn-primary" style="width: 225px" name="action" value="CHANGE_BY_ACTION">Zmiany wg operacji</button><br><br>
        <a href="/main"><button type="button" class="btn btn-info">Strona główna</button></a><br>

    </form>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>