<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Wyszukaj wycieczki po zamawiającym</title>
</head>
<body>
<div th:insert="fragments/header"></div>
<div class="container">
    <h4>Podaj odpowiednie wartości:</h4>
    <form action="/filtertripsbyname" method="post">
        <div class="form-group">
            <label for="name">Zamawiający</label>
            <input type="text" class="form-control" id="name" name="name" required/>
        </div>
        <button type="submit" class="btn btn-success">Dalej</button>
        <a href="/main"><button type="button" class="btn btn-info">Strona główna</button></a>
        <a href="/filters"><button type="button" class="btn btn-primary">Wstecz</button></a>
    </form>
</div>
<div th:insert="fragments/footer"></div>
</body>
</html>