<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8"/>
    <title>Odzyskiwanie hasła</title>
</head>
<body>
<div id = "nav">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="../../static/images/czosnyka.png" width="50" height="50" alt=""/>
            Aplikacja autobusowa firmy Autokarowe Przewozy
        </a>
    </nav>
</div>
<div class="container">
    <form th:action="@{/retrievepassword}" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required/>
        </div>
        <button type="submit" class="btn btn-success">Resetuj</button>

    </form>
</div>
<div id = "footer">
    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="http://www.autokaroweprzewozy.pl/"> www.autokaroweprzewozy.pl</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</body>
</html>